# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheel/
share/python-wheels/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media
staticfiles

# VS Code
.vscode/

# Python virtualenv
.venv/

# VS Code
.settings/

# pipenv
Pipfile.lock

# mypy
.mypy_cache/

# pyenv
.python-version
